body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* 화면 넘어가는 스크롤 방지 */
}

.container {
    text-align: center;
    width: 1000px;
    height: 900px;
    position: relative;
    border: 1px solid #ccc;
    background-color: white;
}

.target {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute; /* 절대 위치로 설정 */
    display: none; /* 초기에는 숨김 */
    background: radial-gradient(circle, red 0%, orange 50%, blue 100%);
    /* 빨강(중앙) -> 주황(중간) -> 파랑(바깥) */
}

#result {
    margin-top: 20px;
}

#timer {
    font-size: 20px;
    margin-bottom: 20px;
}

#accuracy {
    margin-top: 10px;
    font-size: 20px;
}
